body {
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: rgba(56, 56, 56, 0.884);
    width: 350px;
    height: 450px;
    margin: auto;
    padding: 7px;
    border-radius: 10px;
}

.judul {
    color: rgb(219, 219, 219);
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button_container {
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    margin: 3px;
    border-radius: 100%;
    background-color: rgb(255, 243, 174);
}

button:hover {
    background-color: gold;
    transform:translateY(-2px) ;
}

p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: azure;
}

#lawan {
    font-size: 60px;
    padding: 0px;
    margin: 5px;
}